@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Cowboy Cafe</h1>
        <p>
            We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the dust
            on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de
            Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take
            it easy with us.
        </p>
        <div class="menu-entrees">
            <h3>Entrees</h3>
            <div class="menu-item">
                <ul id="br">
                    <li>Angry Chicken</li>
                    <li>Cowpoke Chili</li>
                    <li>Dakota Double Burger</li>
                    <li>Pecos Pulled Pork</li>
                    <li>Rustler's Ribs</li>
                    <li>Texas Triple Burger</li>
                    <li>Trail Burger</li>
                </ul>
            </div>
        </div>
        <div class="menu-sides">
            <h3>Sides</h3>
            <div class="menu-item">
                <ul id="otis">
                    <li>Baked Beans</li>
                    <li>Chili Cheese Fries</li>
                    <li>Corn Dodgers</li>
                    <li>Side</li>
                </ul>
            </div>
        </div>
        <div class="menu-drinks">
            <h3>Drinks</h3>
            <div class="menu-item">
                <ul id="otis">
                    <li>Cowboy Cafe</li>
                    <li>Jerked Soda</li>
                    <li>Texas Tea</li>
                    <li>Water</li>
                </ul>
            </div>
        </div>
    </div>
